%h1
  = @current_club.name
  Registration Information

- if @registration
  %h2
    Guardian
  %dl
    %dt Name:
    %dd= @registration.guardian.last_name + ", " + @registration.guardian.first_name

  %h2
    Athlete
  %dl
    %dt Name:
    %dd= @registration.athlete.last_name + ", " + @registration.athlete.first_name

- else
  %p
    No registration on file
