%h1 Guardian
%dl
  %dt Name:
  %dd= @registration.guardian.last_name + ", " + @registration.guardian.first_name
  %dt Name:
  %dd= @registration.guardian.last_name + ", " + @registration.guardian.first_name
