%h2
  Registration Information

- if registration
  %h3.subheader
    Guardian
  %dl
    %dt Name:
    %dd= registration.guardian.full_name

  %h3.subheader
    Athlete
  %dl
    %dt Name:
    %dd= registration.athlete.full_name
    %dt Birthday:
    %dd= registration.athlete.dob

- else
  %p
    No registration on file
