@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap_config";

.banner
  {
    img {
      margin-top: .5em;
      @include square(70px);
    }

    h1 {
      color: $tromssa-text-color;
  }
  
  background-color: white;
  padding-bottom: 5px;
  margin-bottom: 1em;
}

.parsley-error-list {
  padding-left: 0px;
  li {
    color: $state-danger-text;
    font-size: 11px;
    margin-top: 3px;
    list-style-type: none;
  }
}
