@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap_config";

.banner
  {
    img {
      margin-top: .5em;
      @include square(70px);
    }

    h1 {
      color: $tromssa-text-color;
  }
  
  background-color: white;
  padding-bottom: 5px;
  margin-bottom: 1em;
}

.form-group.has-error span {
  color: $state-danger-text;
  font-size: 11px;
  line-height: 14px;
}
